{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }}   {% endblock %}
{% block description %} {{ categorydata.description }}  {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<div >
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa</a></span> <span>Urunler</span></p>
				<h1 class="mb-0 bread">{{ category.title }}</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section contact-section bg-light">
	<div class="container">
		<div class="row d-flex mb-5 contact-info">
			<div class="w-100"></div>
			<div class="info bg-white p-4">

				<section class="ftco-section">
					<div class="container">
						<div class="row">
							{% for rs in products %}
							<div class="col-md-6  ftco-animate">
								<div class="product">

									<a href="/product/{{ rs.id }}/{{ rs.slug }}" class="img-prod"><img class="img-fluid" src="{{ rs.image.url }}" alt="Colorlib Template">
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">${{ rs.price }}</span><span class="price-sale">${{ rs.price }}</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
													<span><i class="ion-ios-menu"></i></span>
												</a>
												<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												<a href="#" class="heart d-flex justify-content-center align-items-center ">
													<span><i class="ion-ios-heart"></i></span>
												</a>
											</div>
										</div>
									</div>



								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
{% endblock %}

