{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ product.title }} {% endblock %}
{% block keywords %} {{ product.keywords }}   {% endblock %}
{% block description %} {{ product.description }}  {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div >
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.tags}}" role="alert">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa</a></span> <span><a href="/category/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }}</a></span></p>
				<h1 class="mb-0 bread">{{ product.title }}</h1>
			</div>
		</div>
	</div>
</div>


<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 ftco-animate">
				<div class="home-slider owl-carousel">
					{% for rs in images %}

					<a href="{{ rs.image.url }}" class="image-popup"><img src="{{ rs.image.url }}" class="img-fluid"></a>

					{% endfor %}
				</div>
			</div>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>{{ product.title }}</h3>
				<div class="rating d-flex">
					<p class="text-left mr-4">

					</p>
					<p class="text-left mr-4">

					</p>
					<p class="text-left">
						<a href="#" class="mr-2" style="color: #000;">{{ product.amount }} <span style="color: #bbb;">Adede kadar siparis edilebilir</span></a>
					</p>
				</div>
				<p class="price"><span>${{ product.price }}</span></p>
				<p> {{ product.description }}
				</p>
				<div>
					<form action="/order/addtocart/{{ product.id }}" method="post">
						{% csrf_token %}
						<div class="input-group col-md-6 d-flex mb-3">
							<input type="number" id="quantity" name="quantity" value="1" class="input" value="Adet" min="1" max="{{ product.amount }}">
						</div>

						<button type="submit">Add to Cart</button>
					</form>
				</div>
			</div>

			<div class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
				{{ product.detail|safe 	}}
			</div>

			<div class="col-md-6">


				<div class="pt-5 mt-5">
					<h3 class="mb-5">Comments</h3>
					<ul class="comment-list">
						{% for rs in comments %}
						<li class="comment">
							<div class="text-left mr-4">
								<i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
								<div class="review-rating pull-right">
									<i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
									<i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
									<i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
									<i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
									<i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
								</div>
							</div>

							<div class="comment-body">
								<h3>{{ rs.subject}}</h3>
								<div class="meta"> {{ rs.create_at }}</div>
								<p>{{ rs.comment }}</p>
								<!-- <p><a href="#" class="reply">Reply</a></p> -->
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

				<!-- END comment-list -->

				<div class="comment-form-wrap pt-5">
					<form action="/product/addcomment/{{product.id}}" method="post" class="p-5 bg-light">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_subject">Subject *</label>
							<input type="text" name="subject" class="input" id="id_subject">
						</div>
						<div class="form-group">
							<label for="id_comment">Comment</label>
							<textarea name="comment" id="id_comment" cols="30" rows="10" class="input"></textarea>
						</div>
						<div class="form-group">
							<div class="input-rating">
								<strong class="text-uppercase">Your rating:</strong>
								<div class="stars">
									<input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>
									<input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>
									<input type="radio" id="star3" name="rate" value="3"/><label for="star3"></label>
									<input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>
									<input type="radio" id="star1" name="rate" value="1"/><label for="star1"></label>
								</div>
							</div>
						</div>
						{% if user.id is not None %}
						<button class="primary-btn">Send Comment</button>
						{% else %}
						Yorum Eklemek İçin <a href="/login">Login</a>  Olunuz!
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>








</body>
</html>
{% endblock %}

