{% load static %}
{% load mptt_tags %}
<div class="col-lg-3 sidebar ftco-animate">

	<div class="sidebar-box ftco-animate">
		<h3 class="heading">Categories</h3>
		<ul class="categories">
			<li>{% load mptt_tags %}
				<ul>

					{% recursetree category %}
					<li>
						<a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }} </a>
						{% if not node.is_leaf_node %}
						<ul class="children">
							<a href="/category/{{ node.slug }}"> {{ children }} </a>
						</ul>
						{% endif %}
					</li>
					{% endrecursetree %}
				</ul></li>
		</ul>
	</div>

</div>

