{% load static %}
<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		{% for rs in sliderdata %}
		<div class="slider-item" style="background-image:url({{ rs.image.url }});">

			<!--<div class="slider-item">-->
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
				<div class=" ftco-animate text-center">


					<h1 class="mb-2">Tavsiye Edilen Ürün {{ rs.title }}</h1>
					<h2 class="subheading mb-4">{{ rs.description }}</h2>
					<p><a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-primary">Detaylı Incele</a></p>
				</div>
			</div>

			<!--  </div>-->

		</div>
		{% endfor %}
	</div>
</section>