{% extends 'homebase.html' %}
{% load static %}
{% block title %} Order Detail - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }}   {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<body class="goto-here">


<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 ftco-animate">
				<table class="table">
					<tr>
						<th class="text-left">Id</th>
						<th class="text-left">Product Name</th>
						<th class="text-left">Price</th>
						<th class="text-left">Quantity</th>
						<th class="text-left">Amount</th>
						<th class="text-left">Status</th>
						<th class="text-left">Date</th>


					</tr>
					{% for rs in orderitems %}
					<tr>
						<td class="text-left">
							<a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}"><img src="{{ rs.product.image.url }}" height="80"></a>
						</td>
						<td class="text-left">{{ rs.product.title }}</td>
						<td class="text-left">{{ rs.price }}</td >
						<td class="text-left">{{ rs.quantity }}</td>
						<td class="text-left">{{ rs.amount }}</td>
						<td class="text-left">{{ rs.status }}</td>
						<td class="text-left">{{ rs.create_at }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>



			<div class="col-lg-3 sidebar ftco-animate">
				{% include "user_panel.html" %}
			</div>
		</div>
	</div>
</section>


</body>
</html>
{% endblock %}